# Data Explorations

In [15]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

datafile = "PlantGrowth.csv"
data = pd.read_csv(datafile)

 
#Create a boxplot
# data.boxplot('weight', by='group', figsize=(12, 8))
# sns.boxplot(x="weight", y="group", data=data, palette="PRGn")
# plt.show()


ctrl = data['weight'][data.group == 'ctrl']
# print(ctrl)
grps = pd.unique(data.group.values) 
# print(grps)
d_data = {grp:data['weight'][data.group == grp] for grp in grps}
# print(d_data)
k = len(pd.unique(data.group))  # number of conditions

N = len(data.values)  # conditions times participants

n = data.groupby('group').size()[0] #Participants in each condition
print(n)

10

In [9]:
data

    Unnamed: 0  weight group
0            1    4.17  ctrl
1            2    5.58  ctrl
2            3    5.18  ctrl
3            4    6.11  ctrl
4            5    4.50  ctrl
5            6    4.61  ctrl
6            7    5.17  ctrl
7            8    4.53  ctrl
8            9    5.33  ctrl
9           10    5.14  ctrl
10          11    4.81  trt1
11          12    4.17  trt1
12          13    4.41  trt1
13          14    3.59  trt1
14          15    5.87  trt1
15          16    3.83  trt1
16          17    6.03  trt1
17          18    4.89  trt1
18          19    4.32  trt1
19          20    4.69  trt1
20          21    6.31  trt2
21          22    5.12  trt2
22          23    5.54  trt2
23          24    5.50  trt2
24          25    5.37  trt2
25          26    5.29  trt2
26          27    4.92  trt2
27          28    6.15  trt2
28          29    5.80  trt2
29          30    5.26  trt2

## ANOVA Test

In [12]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
 
mod = ols('weight ~ group,
                data=data).fit()
                
aov_table = sm.stats.anova_lm(mod, typ=2)
print (aov_table)

            sum_sq    df         F   PR(>F)
group      3.76634   2.0  4.846088  0.01591
Residual  10.49209  27.0       NaN      NaN

## Tukey's Test

In [14]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

mc = MultiComparison(data['weight'], data['group'])
result = mc.tukeyhsd()
 
print(result)
print(mc.groupsunique)

Multiple Comparison of Means - Tukey HSD,FWER=0.05
============================================
group1 group2 meandiff  lower  upper  reject
--------------------------------------------
 ctrl   trt1   -0.371  -1.0621 0.3201 False
 ctrl   trt2   0.494   -0.1971 1.1851 False
 trt1   trt2   0.865    0.1739 1.5561  True
--------------------------------------------
['ctrl' 'trt1' 'trt2']