In [ ]:
# List is a collection of Heterogeneous elements
# Array is a collection of Homogeneous elements

In [2]:
import numpy as np

In [10]:
# Creating a one dimensional array
emp_id_arr = np.array([101, 102, 103, 104, 105, '106.90'])
print(emp_id_arr)
print(type(emp_id_arr))
print('Shape of the array = ', emp_id_arr.shape)
print('Size of the array = ', emp_id_arr.size)
print('Dimension of the array =', emp_id_arr.ndim)
print('Data types of each element inside the array = ', emp_id_arr.dtype)


# Upcasting - int -> float -> Complex -> String -> Object

['101' '102' '103' '104' '105' '106.90']
<class 'numpy.ndarray'>
Shape of the array =  (6,)
Size of the array =  6
Dimension of the array = 1
Data types of each element inside the array =  <U21

In [ ]:
char - 1 byte - int8
short - 1 byte - int8
int - 2 byte - int16
long - 4/8 byte - int32/int64
float - 4 byte - float32
double - 8 byte - float64

In [16]:
# Creating a two dimensional array
emp_id_arr = np.array([[101, 102, 103], [104, 105]])
print(emp_id_arr)
print(type(emp_id_arr))
print('Shape of the array = ', emp_id_arr.shape)
print('Size of the array = ', emp_id_arr.size)
print('Dimension of the array =', emp_id_arr.ndim)
print('Data types of each element inside the array = ', emp_id_arr.dtype)

[list([101, 102, 103]) list([104, 105])]
<class 'numpy.ndarray'>
Shape of the array =  (2,)
Size of the array =  2
Dimension of the array = 1
Data types of each element inside the array =  object

<ipython-input-16-afc2ef0dc377>:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  emp_id_arr = np.array([[101, 102, 103], [104, 105]])

In [5]:
# arange == range
# arange(start, stop, step)
# Return type is array
# stop can be fractional value also.

# list(range(1, 10, 0.1)) 

arr = np.arange(1, 10, 1)
print(arr)

# arr = np.arange(1, 10, 0.1)
# print(arr)

# arr = np.arange(10, 1, -0.1)
# print(arr)

[1 2 3 4 5 6 7 8 9]

In [7]:
print(dir(arr))

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [34]:
# Creating a 2D array using arange function by reshaping
a = np.arange(1, 57).reshape(7, 8)
print(a)

# While using reshape function the no of element and product of row and column should be equal.

[[ 1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16]
 [17 18 19 20 21 22 23 24]
 [25 26 27 28 29 30 31 32]
 [33 34 35 36 37 38 39 40]
 [41 42 43 44 45 46 47 48]
 [49 50 51 52 53 54 55 56]]

In [11]:
# linspace(start, stop, no of ele)
# Stop value is inclusive

# arr1 = np.linspace(1,10, 10)
# print(arr1)

# arr1 = np.linspace(1,10, 100).reshape(10, 10)
# print(arr1)

# arr1 = np.linspace(1,10, 1000)
# print(arr1)

arr1 = np.linspace(1,10, 100).reshape(5,5,4)
print(arr1)

[[[ 1.          1.09090909  1.18181818  1.27272727]
  [ 1.36363636  1.45454545  1.54545455  1.63636364]
  [ 1.72727273  1.81818182  1.90909091  2.        ]
  [ 2.09090909  2.18181818  2.27272727  2.36363636]
  [ 2.45454545  2.54545455  2.63636364  2.72727273]]

 [[ 2.81818182  2.90909091  3.          3.09090909]
  [ 3.18181818  3.27272727  3.36363636  3.45454545]
  [ 3.54545455  3.63636364  3.72727273  3.81818182]
  [ 3.90909091  4.          4.09090909  4.18181818]
  [ 4.27272727  4.36363636  4.45454545  4.54545455]]

 [[ 4.63636364  4.72727273  4.81818182  4.90909091]
  [ 5.          5.09090909  5.18181818  5.27272727]
  [ 5.36363636  5.45454545  5.54545455  5.63636364]
  [ 5.72727273  5.81818182  5.90909091  6.        ]
  [ 6.09090909  6.18181818  6.27272727  6.36363636]]

 [[ 6.45454545  6.54545455  6.63636364  6.72727273]
  [ 6.81818182  6.90909091  7.          7.09090909]
  [ 7.18181818  7.27272727  7.36363636  7.45454545]
  [ 7.54545455  7.63636364  7.72727273  7.81818182]
  [ 7.90909091  8.          8.09090909  8.18181818]]

 [[ 8.27272727  8.36363636  8.45454545  8.54545455]
  [ 8.63636364  8.72727273  8.81818182  8.90909091]
  [ 9.          9.09090909  9.18181818  9.27272727]
  [ 9.36363636  9.45454545  9.54545455  9.63636364]
  [ 9.72727273  9.81818182  9.90909091 10.        ]]]

In [45]:
# np.zeros((row, col)) -> creates an array of zeros for specified no of row and col
arr = np.zeros((4,5), dtype = int)
arr

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [47]:
# np.ones((row, col)) -> creates an array of ones for specified no of row and col
arr = np.ones((4,5), dtype = int)
arr

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [13]:
# Identity Matrix
arr = np.eye(6)
arr*5

array([[5., 0., 0., 0., 0., 0.],
       [0., 5., 0., 0., 0., 0.],
       [0., 0., 5., 0., 0., 0.],
       [0., 0., 0., 5., 0., 0.],
       [0., 0., 0., 0., 5., 0.],
       [0., 0., 0., 0., 0., 5.]])

In [54]:
# empty matrix
arr = np.empty((6,6))
arr

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [62]:
# Creating an array with random function
arr = np.floor(10*np.random.rand(4, 3))      # The elements value will be between 0 and 1
arr

array([[1., 6., 5.],
       [7., 9., 1.],
       [7., 1., 4.],
       [0., 9., 1.]])

# reshaping an array

In [15]:
import seaborn as sns
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [21]:
arr_size = np.array(df.day)
arr_size

# reshape function does not reshape the existing array object rather it creates a new array 

reshape_arr_size = arr_size.reshape(61, 4)
reshape_arr_size

arr_size

array(['Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri',
       'Fri', 'Fri', 'Fri', 'Fri', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Thur'], dtype=object)

In [77]:
# Reshaping using shape attribute
arr_size = np.array(df.day)
arr_size.shape = (61, 4)
arr_size

# using shape attribute we make the changes to array object directly

array([['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Fri', 'Fri'],
       ['Fri', 'Fri', 'Fri', 'Fri'],
       ['Fri', 'Fri', 'Fri', 'Fri'],
       ['Fri', 'Fri', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Sun'],
       ['Sun', 'Sun', 'Sun', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Thur', 'Thur'],
       ['Thur', 'Thur', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Fri', 'Fri', 'Fri', 'Fri'],
       ['Fri', 'Fri', 'Fri', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Sat'],
       ['Sat', 'Sat', 'Sat', 'Thur']], dtype=object)

In [22]:
# transpose of a matrix - rows converted to columns and columnsconverted to rows
# arr_size.T

np.transpose(arr_size)

arr_size

# It creates a new array object

array(['Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri',
       'Fri', 'Fri', 'Fri', 'Fri', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Thur'], dtype=object)

In [83]:
# Flattening of an array - creating one-D array out of multidimensional array
arr_size.ravel()

array(['Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri',
       'Fri', 'Fri', 'Fri', 'Fri', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Fri', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Thur'], dtype=object)

# Some basic operations on the array

In [23]:
import seaborn as sns
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [24]:
total_bill_arr = np.array(df.total_bill)[:10]
total_bill_arr

array([16.99, 10.34, 21.01, 23.68, 24.59, 25.29,  8.77, 26.88, 15.04,
       14.78])

In [25]:
tip_arr = np.array(df.tip)[:10]
tip_arr

array([1.01, 1.66, 3.5 , 3.31, 3.61, 4.71, 2.  , 3.12, 1.96, 3.23])

In [104]:
# Arithmetic operation - arrays should be of same shape
# print(total_bill_arr+tip_arr)
# print(total_bill_arr+20)
# print(total_bill_arr-tip_arr)
# print(total_bill_arr*tip_arr)
# print(total_bill_arr/tip_arr)
# print(total_bill_arr//tip_arr)
# print(total_bill_arr%tip_arr)
# print(total_bill_arr**tip_arr)

print(-total_bill_arr)

[-16.99 -10.34 -21.01 -23.68 -24.59 -25.29  -8.77 -26.88 -15.04 -14.78]

In [26]:
# Comparison operation
print(total_bill_arr<tip_arr)

[False False False False False False False False False False]

In [111]:
# Product
# Scalar product
# Vector Product

# print(total_bill_arr*tip_arr)
# print(total_bill_arr*7)

np.dot(total_bill_arr, tip_arr)

572.7493000000001

In [113]:
# Vector product on 2D array
# For doing vector product
    # No of column in first array should be same as no of rows in 2nd array
    # Shape of Resultant array of the dot product = (no of rows of 1st array, no of col of 2nd array)
    



total_bill_arr = total_bill_arr.reshape(5, 2)
total_bill_arr

array([[16.99, 10.34],
       [21.01, 23.68],
       [24.59, 25.29],
       [ 8.77, 26.88],
       [15.04, 14.78]])

In [115]:
tip_arr = tip_arr.reshape(2, 5)
tip_arr

array([[1.01, 1.66, 3.5 , 3.31, 3.61],
       [4.71, 2.  , 3.12, 1.96, 3.23]])

In [116]:
np.dot(total_bill_arr, tip_arr)

array([[ 65.8613,  48.8834,  91.7258,  76.5033,  94.7321],
       [132.7529,  82.2366, 147.4166, 115.9559, 152.3325],
       [143.9518,  91.3994, 164.9698, 130.9613, 170.4566],
       [135.4625,  68.3182, 114.5606,  81.7135, 118.4821],
       [ 84.8042,  54.5264,  98.7536,  78.7512, 102.0338]])

In [117]:
# Compound Assignment Operator
tip_arr += 9
tip_arr

array([[10.01, 10.66, 12.5 , 12.31, 12.61],
       [13.71, 11.  , 12.12, 10.96, 12.23]])

In [118]:
# Aggregate methods - sum, max,min
np.sum(tip_arr)

118.11

In [119]:
np.max(tip_arr)

13.71

In [120]:
np.min(tip_arr)

10.01

In [28]:
# Aggregate operation alog the rows or columns
total_bill_arr = np.array(df.total_bill)[:15]
total_bill_arr.shape = 5, 3

In [126]:
tip_arr = np.array(df.tip)[:15]
tip_arr.shape = 5, 3
tip_arr

array([[1.01, 1.66, 3.5 ],
       [3.31, 3.61, 4.71],
       [2.  , 3.12, 1.96],
       [3.23, 1.71, 5.  ],
       [1.57, 3.  , 3.02]])

In [127]:
# Sum along the rows

np.sum(tip_arr, axis = 0)

array([11.12, 13.1 , 18.19])

In [128]:
# Sum along the col

np.sum(tip_arr, axis = 1)

array([ 6.17, 11.63,  7.08,  9.94,  7.59])

In [129]:
# max along the rows

np.max(tip_arr, axis = 0)

array([3.31, 3.61, 5.  ])

In [131]:
# min along the rows

np.min(tip_arr, axis = 0)

array([1.01, 1.66, 1.96])