## Tuple and Dictionary

strings

list - append, insert, index, remove, del, reverse
mutable - 

nested list

list comprehension


conditonal statements - if else, for, while, break continue

**tuple**

- combinations of elements of different datatypes
- represented by  ()
- immutable - no element can be modified at any time at any place

list 

append, insert, extend
update : listName[10] = value
del, remove, pop

In [ ]:
abc = (4, 5, "Hello")

In [ ]:
type(abc)

In [ ]:
tupleName = ("Tuesday", 10+10j, 50, 3.33, False, (6, 7), 50)

In [ ]:
#### Basic operations

In [ ]:
len(tupleName)

In [ ]:
# position

tupleName[0]

In [ ]:
tupleName[-1]

In [ ]:
tupleName[-2][1]

In [ ]:
# repition (*)

res = tupleName * 3
print(res)

In [ ]:
tupleName[5] * 2

In [ ]:
(6, 7)(6, 7)
(12, 14)
((6, 7)(6, 7))
(6, 7, 6, 7)

In [ ]:
# concatenation (+)

(6, 7) + (False, "Pilot")

In [ ]:
(6, 7) + (False, "Pilot") + (60)

In [ ]:
(6, 7) + (False, "Pilot") + (60, )

In [ ]:
[6, 7] + [False, "Pilot"] + [60]

In [ ]:
abc = "pilot"

type(abc)

In [ ]:
abc = 100

type(abc)

In [ ]:
abc = ("pilot")

type(abc)

In [ ]:
abc = ["pilot"]

type(abc)

In [ ]:
abc = tuple("pilot")

type(abc)

In [ ]:
abc = ("pilot",)

type(abc)

###### slicing
tupleName[start : end : step size]

In [ ]:
tupleName

In [ ]:
tupleName[2 : 5]   # [2, 5)

In [ ]:
tupleName[2 : 5 : 1]

In [ ]:
tupleName[ : 3]

In [ ]:
tupleName[2 : ]

In [ ]:
tupleName[-1 : -4 : -1]

**in operator**

**not in operator**

In [ ]:
tupleName

In [ ]:
print(10 in tupleName)

In [ ]:
print(6 in tupleName)

In [ ]:
print(10 not in tupleName)

In [ ]:
print(50 in tupleName)

#### tuple operations

In [ ]:
tupleName = ('Tuesday', 10+10j, 50, 3.33, False, (6, 7), 50)

In [ ]:
# add an element

# tupleName.append(100)

# tupleName.insert(5, 100)

In [ ]:
# update element

# tupleName[4] = 999999

In [ ]:
# delete

# del tupleName[5]

# tupleName.remove(50)

In [ ]:
tupleName.index(False)

In [ ]:
tupleName.count(50)

In [ ]:
tupleName = ('Tuesday', 10+10j, 50, 3.33, "50", False, (6, 7), 50)

In [ ]:
tupleName.count(50)

list and tuple

**similarity**
- elements of any datatype
- any sequence length


**difference**
- list is mutable vs tuple is immutable
- list is less secured and tuple is more secured
- list is slower but tuple is faster
- inlucde one example each

In [ ]:
dt = {2 : "abc", 
     6 : False}

In [ ]:
type(dt)

In [ ]:
dt

In [12]:
import pandas 

dict_ = {"Col1" : [8, 9, 100], 
         "Col2" : [True, 50.55, 9 + 9j]}

In [13]:
table = pandas.DataFrame(dict_)
table

   Col1    Col2
0     8    True
1     9   50.55
2   100  (9+9j)

In [ ]:
#### wifi - router

####### packets

(9, 5, 6), ("Pilot", 'Tuesday', False)


# database

(18, "Name", 666666.33)

In [ ]:
tupleName = ('Tuesday', 10+10j, 50, 3.33, '50', False, (6, 7), 50)

In [ ]:
tupleName[2 : 4]

In [ ]:
# add an element

tupleName[ : 1]

In [ ]:
tupleName[1 : ]

In [ ]:
res = tupleName[ : 1] + (400, ) + tupleName[1 : ]

In [ ]:
type(res)

In [ ]:
# remove the False

tupleName[ : 5] + tupleName[6 : ]

In [ ]:
tupleName[ : 5]

In [ ]:
tupleName[6 : ]

In [ ]:
tupleName = list(('Tuesday', 10+10j, 50, 3.33, '50', False, (6, 7), 50))

In [ ]:
tupleName.insert(1, 400)

In [ ]:
tupleName

# Dictionary


- unordered data structure (not perform, eg, dict[5], dict[1 : 9])
- represented by {}
- it has keys and values (values for each key)
- keys are immutable, values are mutable

In [1]:
abc = {}
type(abc)

dict

In [2]:
# dict = {4 : 100, 5 : 200}

In [3]:
# str = "hhgfvewyhfew kfbef ewkjfewkf"

In [4]:
str(100)

'100'

In [ ]:
import keyword

In [ ]:
print(keyword.kwlist)

In [ ]:
try = 100

In [26]:
dict_ = {1 : 100,
        2 : 200}

In [27]:
type(dict_)

dict

In [28]:
print(dict_)

{1: 100, 2: 200}

In [29]:
dict_[2]

200

In [31]:
# dict_[100]

In [32]:
dict_.keys()

dict_keys([1, 2])

In [33]:
dict_.values()

dict_values([100, 200])

In [34]:
dict_ = {1 : 100,
        2 : 200, 
        "a" : True, 
        "hello world" : 60.60, 
        3.3 : "pilot in delhi",
        5 + 6j : 4626,
        (8, 9) : False}

In [35]:
dict_

{1: 100,
 2: 200,
 'a': True,
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 (8, 9): False}

In [39]:
print(dict_["a"])

print(dict_[(8, 9)])

print(dict_[3.30])

print(dict_[5 + 6j])

True
False
pilot in delhi
4626

In [40]:
dict_ = {1 : 100,
        2 : 200, 
        "a" : True, 
        "hello world" : 60.60, 
        3.3 : "pilot in delhi",
        5 + 6j : 4626,
        (8, 9) : False, 
        [3, "ppp"] : 23}

TypeError: unhashable type: 'list'

In [23]:
dict_ = {1 : 100,
        2 : 200, 
        "a" : True, 
        "hello world" : 60.60, 
        3.3 : "pilot in delhi",
        5 + 6j : 4626,
        (8, 9) : False, 
        {1 : "a", 2 : 'b'} : 23}

TypeError: unhashable type: 'dict'

In [41]:
dict_ = {1 : 100,
        2 : 200, 
        "a" : True, 
        "hello world" : 60.60, 
        3.3 : "pilot in delhi",
        5 + 6j : 4626,
        (8, 9) : False, 
        {5, 6, 2} : 23}

TypeError: unhashable type: 'set'

In [42]:
dict_ = {1 : 100,
        2 : 200, 
        "a" : True, 
        "hello world" : 60.60, 
        3.3 : "pilot in delhi",
        5 + 6j : 4626,
        (8, 9) : False, 
        23 : {1 : "a", 2 : 'b'}}

In [43]:
dict_[23]

{1: 'a', 2: 'b'}

In [44]:
dict_

{1: 100,
 2: 200,
 'a': True,
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 (8, 9): False,
 23: {1: 'a', 2: 'b'}}

In [45]:
dict_ = {1 : 100,
        2 : 200, 
        "a" : True, 
        "hello world" : 60.60, 
        3.3 : "pilot in delhi",
        5 + 6j : 4626,
        (8, 9) : False, 
        23 : {1 : "a", 2 : 'b'}, 
        5 : [5, 6, 7, "Hello", False]}

In [46]:
dict_

{1: 100,
 2: 200,
 'a': True,
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 (8, 9): False,
 23: {1: 'a', 2: 'b'},
 5: [5, 6, 7, 'Hello', False]}

In [47]:
type({6, 4, 2})

set

In [48]:
type({6 : 100, 4 : 200, 2 : 3000})

dict

In [49]:
dict_

{1: 100,
 2: 200,
 'a': True,
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 (8, 9): False,
 23: {1: 'a', 2: 'b'},
 5: [5, 6, 7, 'Hello', False]}

In [50]:
# len - how many key - value pairs

len(dict_)

9

In [52]:
# indexing - nothing here, as it is unordered

print(dict_["a"])
print(dict_[5])

True
[5, 6, 7, 'Hello', False]

In [53]:
# concat (+) = not possible 

{1 : 100, 2 : 200} + {"a" : "nbhjebkebjh", "b" : 'jhg whjfbf'}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [54]:
# repeat (*) = not possible 

{1 : 100, 2 : 200} * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [56]:
# slicing

dict_[2 : 4]

TypeError: unhashable type: 'slice'

In [57]:
key_list = [1, 2, 3]
value_list = [100, 200, 300]

In [59]:
abc = dict(zip(key_list, value_list))

In [61]:
abc.clear()

In [62]:
zip(key_list, value_list)

In [63]:
list(zip(key_list, value_list))

[(1, 100), (2, 200), (3, 300)]

In [64]:
dict_

{1: 100,
 2: 200,
 'a': True,
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 (8, 9): False,
 23: {1: 'a', 2: 'b'},
 5: [5, 6, 7, 'Hello', False]}

In [67]:
## adding a key - value

In [65]:
dict_[10] = "New Value"

In [66]:
dict_

{1: 100,
 2: 200,
 'a': True,
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 (8, 9): False,
 23: {1: 'a', 2: 'b'},
 5: [5, 6, 7, 'Hello', False],
 10: 'New Value'}

In [68]:
## update a key value

In [69]:
dict_['a'] = "updated value"

In [70]:
dict_

{1: 100,
 2: 200,
 'a': 'updated value',
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 (8, 9): False,
 23: {1: 'a', 2: 'b'},
 5: [5, 6, 7, 'Hello', False],
 10: 'New Value'}

In [79]:
# delete the key-value

In [77]:
del dict_[(8, 9)]

In [78]:
dict_

{1: 100,
 2: 200,
 'a': 'updated value',
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 23: {1: 'a', 2: 'b'},
 5: [5, 6, 7, 'Hello', False],
 10: 'New Value'}

In [72]:
dict2 = {1 : 100, 2 : 200, 3 : 300}

In [73]:
dict2

{1: 100, 2: 200, 3: 300}

In [74]:
dict2 = {1 : 100, 2 : 200, 3 : 300, 4 : 200}
dict2

{1: 100, 2: 200, 3: 300, 4: 200}

In [75]:
dict2 = {1 : 100, 2 : 200, 3 : 300, 2 : 400}
dict2

{1: 100, 2: 400, 3: 300}

In [80]:
dict_

{1: 100,
 2: 200,
 'a': 'updated value',
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 23: {1: 'a', 2: 'b'},
 5: [5, 6, 7, 'Hello', False],
 10: 'New Value'}

In [81]:
dict_.clear()

In [82]:
dict_

{}

In [83]:
dict_1 = {1: 100,
 2: 200,
 'a': 'updated value',
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 23: {1: 'a', 2: 'b'},
 5: [5, 6, 7, 'Hello', False],
 10: 'New Value'}

In [85]:
# show keys
dict_1.keys()

dict_keys([1, 2, 'a', 'hello world', 3.3, (5+6j), 23, 5, 10])

In [86]:
# show values
dict_1.values()

dict_values([100, 200, 'updated value', 60.6, 'pilot in delhi', 4626, {1: 'a', 2: 'b'}, [5, 6, 7, 'Hello', False], 'New Value'])

In [89]:
dict_1.pop(23)

{1: 'a', 2: 'b'}

In [90]:
dict_1

{1: 100,
 2: 200,
 'a': 'updated value',
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 5: [5, 6, 7, 'Hello', False],
 10: 'New Value'}

In [107]:
# setdefault : 
# if key exists, then that value is shown
# if key doesn't exist, then that value is updated in the same dictionary

In [105]:
dict_1.setdefault(1000, "kite")

'kite'

In [106]:
dict_1

{1: 100,
 2: 200,
 'a': 'updated value',
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 5: [5, 6, 7, 'Hello', False],
 10: 'New Value',
 3.5: None,
 1000: 'kite'}

In [109]:
dict_1

{1: 100,
 2: 200,
 'a': 'updated value',
 'hello world': 60.6,
 3.3: 'pilot in delhi',
 (5+6j): 4626,
 5: [5, 6, 7, 'Hello', False],
 10: 'New Value',
 3.5: None,
 1000: 'kite'}

In [110]:
for each in dict_1.keys() : 
    print(each)

1
2
a
hello world
3.3
(5+6j)
5
10
3.5
1000

In [111]:
dict_1.keys()

dict_keys([1, 2, 'a', 'hello world', 3.3, (5+6j), 5, 10, 3.5, 1000])

In [113]:
for each in dict_1.values() : 
    print(each)

100
200
updated value
60.6
pilot in delhi
4626
[5, 6, 7, 'Hello', False]
New Value
None
kite

In [112]:
dict_1.values()

dict_values([100, 200, 'updated value', 60.6, 'pilot in delhi', 4626, [5, 6, 7, 'Hello', False], 'New Value', None, 'kite'])

In [114]:
dict_1.items()

dict_items([(1, 100), (2, 200), ('a', 'updated value'), ('hello world', 60.6), (3.3, 'pilot in delhi'), ((5+6j), 4626), (5, [5, 6, 7, 'Hello', False]), (10, 'New Value'), (3.5, None), (1000, 'kite')])

In [115]:
for each in dict_1.items() : 
    print(each)

(1, 100)
(2, 200)
('a', 'updated value')
('hello world', 60.6)
(3.3, 'pilot in delhi')
((5+6j), 4626)
(5, [5, 6, 7, 'Hello', False])
(10, 'New Value')
(3.5, None)
(1000, 'kite')

In [116]:
for each in dict_1 : 
    print(each)

1
2
a
hello world
3.3
(5+6j)
5
10
3.5
1000

In [122]:
## create a user defined dict

pairs = int(input("How many pairs : "))

dict_5 = {}
for i in range(pairs) : 
    k = input("Key = ")
    v = eval(input("Value = "))
    dict_5.update({k : v})

print(dict_5)

How many pairs : 2
Key = a
Value = 100
Key = b
Value = 200
{'a': 100, 'b': 200}

In [117]:
dict_5 = {}
type(dict_5)

dict

In [118]:
dict_5 = {''}
type(dict_5)

set