In [ ]:
# Structured Data - Pandas Dataframe

# Sl no.  Emp Name     Emp Id    Emo Sal
# 1       Abhishek     101       10000
# 2       Krishna      102       80000

In [2]:
import numpy as np
import pandas as pd

In [4]:
# Series will have only one column
# Series will have index for each data
# Series does not have any column

city_name = ['Delhi', 'Mumbai', 'Bengaluru', 'Hyderabad', 'Pune', 'Chennai', 10.20]

# Convertingb a list into series
city_ser = pd.Series(city_name)
print(city_ser)
print(type(city_ser))

0        Delhi
1       Mumbai
2    Bengaluru
3    Hyderabad
4         Pune
5      Chennai
6         10.2
dtype: object
<class 'pandas.core.series.Series'>

In [13]:
# Using User defined index for series

city_name = ('Delhi', 'Mumbai', 'Bengaluru', 'Hyderabad', 'Pune', 'Chennai')

# Converting a tuple into series
city_ser = pd.Series(city_name, index = list(range(1, 7000)))
print(city_ser)
print(type(city_ser))

1        Delhi
2       Mumbai
3    Bengaluru
4    Hyderabad
5         Pune
6      Chennai
dtype: object
<class 'pandas.core.series.Series'>

In [8]:
tuple('abcdef')

('a', 'b', 'c', 'd', 'e', 'f')

In [15]:
print(city_ser.size)

6

In [16]:
# Using User defined index for series

city_name = ('Delhi', 'Mumbai', 'Bengaluru', 'Hyderabad', 'Pune', 'Chennai')

# Converting a tuple into series
city_ser = pd.Series(city_name, index = ['City_'+str(i) for i in range(1, 7)])
print(city_ser)
print(type(city_ser))

City_1        Delhi
City_2       Mumbai
City_3    Bengaluru
City_4    Hyderabad
City_5         Pune
City_6      Chennai
dtype: object
<class 'pandas.core.series.Series'>

In [20]:
# How we can access the data from series

# Built-in index - 0 based index
# User defined

# In series we can access the data from both, Built-in index & User defined

# print(city_ser[0])
# print(city_ser[-1])

# print(city_ser['City_5'])
# print(city_ser['City_3'])

Pune
Bengaluru

In [24]:
# Slicing the data from Series
# In series we can access the data from both, Built-in index & User defined

print(city_ser[1:4:3])   # When we use Built-in index for slicing then start and stop index follows the general Ruel

print(city_ser['City_2':'City_4':2])     # When we use User defined index for slicing then start and stop both indexes are inclusive

City_2    Mumbai
dtype: object
City_2       Mumbai
City_4    Hyderabad
dtype: object

In [27]:
# Converting a Dictionary into series

emp_info = {'emp_name':'Krishna', 'emp_id':101, 'emp_sal':80000, 'emp_city':'Chennai', 'emp_org':'TCS', 'is_Married':True}


emp_ser = pd.Series(emp_info, index = ['emp_name', 
                                      'emp_id',
                                      'emp_sal',
                                      'emp_city',
                                      'emp_org',
                                      'is_Married',
                                      'emp_state'])
print(emp_ser)
print(type(emp_ser))

emp_name      Krishna
emp_id            101
emp_sal         80000
emp_city      Chennai
emp_org           TCS
is_Married       True
emp_state         NaN
dtype: object
<class 'pandas.core.series.Series'>

In [33]:
emp_ser = pd.Series(emp_info, index = list('abcdef')+ 
                                      ['emp_name', 
                                      'emp_id',
                                      'emp_sal',
                                      'emp_city',
                                      'emp_org',
                                      'is_Married'])
print(emp_ser)
print(type(emp_ser))

print()

a                 NaN
b                 NaN
c                 NaN
d                 NaN
e                 NaN
f                 NaN
emp_name      Krishna
emp_id            101
emp_sal         80000
emp_city      Chennai
emp_org           TCS
is_Married       True
dtype: object
<class 'pandas.core.series.Series'>

In [34]:
state_name = ['UP', 'MP', 'AP', 'RJ', 'KA', 'TN']
cap_name = ['LKO', 'BHP', 'AMT', 'JP', 'BLR', 'CHN']

# Create a series where state_name will be index and cap_name will be value

sta_cap_ser = pd.Series(cap_name, index = state_name)
sta_cap_ser

UP    LKO
MP    BHP
AP    AMT
RJ     JP
KA    BLR
TN    CHN
dtype: object

In [38]:
print('Capital of UP',sta_cap_ser['UP'])

print(sta_cap_ser['UP':'RJ'])

Capital of UP LKO
UP    LKO
MP    BHP
AP    AMT
RJ     JP
dtype: object

# DataFrame
1. It ia a tabular representation of the data
2. It has rows and columns
3. Data frame is a collection of series
4. We can give user-defined names to columns in dataframe.

In [40]:
# Creation of Dataframe from csv file

my_df = pd.read_csv('datasets/appleStore_description.csv')
my_df
print(type(my_df))

<class 'pandas.core.frame.DataFrame'>

In [42]:
# Creation of Dataframe from excel file
my_df = pd.read_excel('datasets/automobile_camera.xlsx')
my_df

   Unnamed: 0                   car_name  mpg  horsepower origin_country
0           0     Toyota Corolla Mark ii   24          95          Japan
1           1  Chevrolet Chevelle Malibu   18         130             US
2           2                Audi 100 LS   24          90        Germany
3           3                   BMW 2002   26         113        Germany
4           4               Datsun PL510   27          88          Japan

In [44]:
state_name = ['UP', 'MP', 'AP', 'RJ', 'KA', 'TN']
cap_name = ['LKO', 'BHP', 'AMT', 'JP', 'BLR', 'CHN']

my_df = pd.DataFrame({'State':pd.Series(state_name, index = list(range(1, 7))),
                      'capital':pd.Series(cap_name, index = list(range(1, 7)))})

my_df

  State capital
1    UP     LKO
2    MP     BHP
3    AP     AMT
4    RJ      JP
5    KA     BLR
6    TN     CHN

In [47]:
covid_data = {'state_name' : ['UP', 'MP', 'AP', 'RJ', 'KA', 'TN'],
              'cap_name' : ['LKO', 'BHP', 'AMT', 'JP', 'BLR', 'CHN'],
              'Confirmed_cases' : [10000, 11000, 9999, 12000, 8907, 9000], 
              'Death_cases' : [2000, 2100, 900, 2500, 800, 700]}
pd.DataFrame(covid_data)

  state_name cap_name  Confirmed_cases  Death_cases
0         UP      LKO            10000         2000
1         MP      BHP            11000         2100
2         AP      AMT             9999          900
3         RJ       JP            12000         2500
4         KA      BLR             8907          800
5         TN      CHN             9000          700

In [51]:
# Pre-Analysis of the data

my_df = pd.read_csv('datasets/appleStore_description.csv')
my_df.head(10)

          id                                         track_name  size_bytes
0  281656475                                    PAC-MAN Premium   100788224
1  281796108                          Evernote - stay organized   158578688
2  281940292    WeatherBug - Local Weather, Radar, Maps, Alerts   100524032
3  282614216  eBay: Best App to Buy, Sell, Save! Online Shop...   128512000
4  282935706                                              Bible    92774400
5  283619399                                   Shanghai Mahjong    10485713
6  283646709             PayPal - Send and request money safely   227795968
7  284035177                            Pandora - Music & Radio   130242560
8  284666222                        PCalc - The Best Calculator    49250304
9  284736660                                        Ms. PAC-MAN    70023168

In [52]:
my_df.tail(10)

              id                                    track_name  size_bytes
7187  1186126548                     Escape Game: illumination    52342784
7188  1186384912  Demolition Derby Virtual Reality (VR) Racing   168774656
7189  1187128255                    飞刀传奇-动作武侠热血江湖即时PK传奇（登录爆金装）   537462784
7190  1187279979                  Add-Ons Studio for Minecraft    22999040
7191  1187282363                    Plead the Fifth - The Game    27853824
7192  1187617475                                         Kubik   126644224
7193  1187682390                             VR Roller-Coaster   120760320
7194  1187779532         Bret Michaels Emojis + Lyric Keyboard   111322112
7195  1187838770     VR Roller Coaster World - Virtual Reality    97235968
7196  1188375727                  Escape the Sweet Shop Series    90898432

In [53]:
my_df.shape    # (rows, cols)

(7197, 3)

In [54]:
my_df.size

21591

In [59]:
# To access the value from the dataframe we should use indexing on column
my_df['track_name']

# We can not perform the indexing directky on rows
# my_df[0]


# To perform indexing operation on rows - .loc and .iloc
print(my_df.loc[0])    # User-defined index
print(my_df.iloc[7196])# Built-in index

id                  281656475
track_name    PAC-MAN Premium
size_bytes          100788224
Name: 0, dtype: object
id                              1188375727
track_name    Escape the Sweet Shop Series
size_bytes                        90898432
Name: 7196, dtype: object

In [60]:
# Slicing on dataframe
my_df[1:7]       # Row slicing

          id                                         track_name  size_bytes
1  281796108                          Evernote - stay organized   158578688
2  281940292    WeatherBug - Local Weather, Radar, Maps, Alerts   100524032
3  282614216  eBay: Best App to Buy, Sell, Save! Online Shop...   128512000
4  282935706                                              Bible    92774400
5  283619399                                   Shanghai Mahjong    10485713
6  283646709             PayPal - Send and request money safely   227795968

In [69]:
my_df.loc[1:7, 'track_name':'size_bytes']

                                          track_name  size_bytes
1                          Evernote - stay organized   158578688
2    WeatherBug - Local Weather, Radar, Maps, Alerts   100524032
3  eBay: Best App to Buy, Sell, Save! Online Shop...   128512000
4                                              Bible    92774400
5                                   Shanghai Mahjong    10485713
6             PayPal - Send and request money safely   227795968
7                            Pandora - Music & Radio   130242560

In [71]:
my_df.iloc[1:7, 1:]

                                          track_name  size_bytes
1                          Evernote - stay organized   158578688
2    WeatherBug - Local Weather, Radar, Maps, Alerts   100524032
3  eBay: Best App to Buy, Sell, Save! Online Shop...   128512000
4                                              Bible    92774400
5                                   Shanghai Mahjong    10485713
6             PayPal - Send and request money safely   227795968

In [72]:
my_df = pd.read_csv('datasets/avocado.csv')
my_df

,Region,Type,Small Bags,Large Bags,Total Bags,Total Volume,AveragePrice,Date
0,Atlanta,organic,89424.11,207.08,89631.19,190257.38,1.70,2018-03-25
1,Atlanta,conventional,102717.50,153.00,102870.50,202790.74,1.75,2018-03-18
2,Boston,organic,120465.39,18.83,120484.22,236822.98,1.58,2018-03-11
3,Boston,conventional,136877.43,60.60,136938.03,239135.67,1.57,2018-03-04
4,California,organic,66273.89,46.58,66320.47,179041.72,1.82,2018-02-25
5,California,conventional,103033.73,186.20,106984.89,1203274.11,1.01,2018-03-25
6,NewYork,organic,119694.95,92.29,124214.59,777300.99,1.38,2018-03-18
7,NewYork,conventional,193813.92,196.57,197281.89,904333.98,1.29,2018-03-11
8,SanFrancisco,organic,231913.11,1286.43,236417.93,1051308.50,1.16,2018-03-04
9,SanFrancisco,conventional,162913.33,609.20,166836.16,984000.13,1.17,2018-02-25

In [74]:
my_df['Large Bags'].max()

1286.43

In [75]:
my_df['Large Bags'].min()

18.83

In [76]:
my_df['Large Bags'].sum()

2856.7799999999997

In [78]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Region        10 non-null     object
 1   Type          10 non-null     object
 2   Small Bags    10 non-null     float64
 3   Large Bags    10 non-null     float64
 4   Total Bags    10 non-null     float64
 5   Total Volume  10 non-null     float64
 6   AveragePrice  10 non-null     float64
 7   Date          10 non-null     object
dtypes: float64(5), object(3)
memory usage: 768.0+ bytes

In [79]:
my_df.describe()

         Small Bags   Large Bags     Total Bags  Total Volume  AveragePrice
count      10.00000    10.000000      10.000000  1.000000e+01      10.00000
mean   132712.73600   285.678000  134797.987000  5.968266e+05       1.44300
std     50433.16001   389.333189   51748.226118  4.221664e+05       0.28024
min     66273.89000    18.830000   66320.470000  1.790417e+05       1.01000
25%    102796.55750    68.522500  103899.097500  2.112988e+05       1.20000
50%    120080.17000   169.600000  122349.405000  5.082183e+05       1.47500
75%    156404.35500   204.452500  159361.627500  9.640836e+05       1.67000
max    231913.11000  1286.430000  236417.930000  1.203274e+06       1.82000

# Addition and Deletion of rows and columns

In [5]:
import numpy as np
import pandas as pd
my_df = pd.read_csv('datasets/citibike_tripdata.csv')[:10]
my_df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,232,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,190,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber
6,577,2018-05-01 05:05:46,2018-05-01 05:15:23,3225,Baldwin at Montgomery,3186,Grove St PATH,33619,Annual Membership from Citi Bike App,Subscriber
7,830,2018-05-01 05:11:50,2018-05-01 05:25:41,3207,Oakland Ave,3185,City Hall,33624,Annual Membership,Subscriber
8,395,2018-05-01 05:12:07,2018-05-01 05:18:42,3225,Baldwin at Montgomery,3186,Grove St PATH,26300,Annual Membership,Subscriber
9,170,2018-05-01 05:13:52,2018-05-01 05:16:43,3206,Hilltop,3195,Sip Ave,33555,$25 Off Annual Membership,Subscriber

In [16]:
# Add a column "is_subscriber" whci h will be True if 'user type' == Subscribe else False
my_df['is_subscriber'] = list(map(lambda usr_type: True if usr_type == 'Subscriber' else False
                             ,my_df['usertype']))

In [17]:
my_df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype,is_subscriber
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber,True
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer,False
2,232,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber,True
3,190,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer,False
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber,True
5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber,True
6,577,2018-05-01 05:05:46,2018-05-01 05:15:23,3225,Baldwin at Montgomery,3186,Grove St PATH,33619,Annual Membership from Citi Bike App,Subscriber,True
7,830,2018-05-01 05:11:50,2018-05-01 05:25:41,3207,Oakland Ave,3185,City Hall,33624,Annual Membership,Subscriber,True
8,395,2018-05-01 05:12:07,2018-05-01 05:18:42,3225,Baldwin at Montgomery,3186,Grove St PATH,26300,Annual Membership,Subscriber,True
9,170,2018-05-01 05:13:52,2018-05-01 05:16:43,3206,Hilltop,3195,Sip Ave,33555,$25 Off Annual Membership,Subscriber,True

In [21]:
# del my_df['is_subscriber']     # Deletes the column from the existing dataframe

In [19]:
my_df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,232,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,190,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber
6,577,2018-05-01 05:05:46,2018-05-01 05:15:23,3225,Baldwin at Montgomery,3186,Grove St PATH,33619,Annual Membership from Citi Bike App,Subscriber
7,830,2018-05-01 05:11:50,2018-05-01 05:25:41,3207,Oakland Ave,3185,City Hall,33624,Annual Membership,Subscriber
8,395,2018-05-01 05:12:07,2018-05-01 05:18:42,3225,Baldwin at Montgomery,3186,Grove St PATH,26300,Annual Membership,Subscriber
9,170,2018-05-01 05:13:52,2018-05-01 05:16:43,3206,Hilltop,3195,Sip Ave,33555,$25 Off Annual Membership,Subscriber

In [24]:
my_df = my_df.drop(columns = 'name_localizedValue')


# drop() - does not make any changes to existing dataframe

In [25]:
my_df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,Customer
2,232,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,Subscriber
3,190,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Subscriber
5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Subscriber
6,577,2018-05-01 05:05:46,2018-05-01 05:15:23,3225,Baldwin at Montgomery,3186,Grove St PATH,33619,Subscriber
7,830,2018-05-01 05:11:50,2018-05-01 05:25:41,3207,Oakland Ave,3185,City Hall,33624,Subscriber
8,395,2018-05-01 05:12:07,2018-05-01 05:18:42,3225,Baldwin at Montgomery,3186,Grove St PATH,26300,Subscriber
9,170,2018-05-01 05:13:52,2018-05-01 05:16:43,3206,Hilltop,3195,Sip Ave,33555,Subscriber

In [27]:
# Adding the rows

covid_data = {'state_name' : ['UP', 'MP', 'AP', 'RJ', 'KA', 'TN'],
              'cap_name' : ['LKO', 'BHP', 'AMT', 'JP', 'BLR', 'CHN'],
              'Confirmed_cases' : [10000, 11000, 9999, 12000, 8907, 9000], 
              'Death_cases' : [2000, 2100, 900, 2500, 800, 700]}
covid_data_df = pd.DataFrame(covid_data)
covid_data_df

  state_name cap_name  Confirmed_cases  Death_cases
0         UP      LKO            10000         2000
1         MP      BHP            11000         2100
2         AP      AMT             9999          900
3         RJ       JP            12000         2500
4         KA      BLR             8907          800
5         TN      CHN             9000          700

In [30]:
covid_data_df.loc[6] = ['DL', 'NDL', 16000, 4000]

In [35]:
covid_data_df

  state_name cap_name  Confirmed_cases  Death_cases
0         UP      LKO            10000         2000
1         MP      BHP            11000         2100
2         AP      AMT             9999          900
3         RJ       JP            12000         2500
4         KA      BLR             8907          800
5         TN      CHN             9000          700
6         DL      NDL            16000         4000

In [55]:
# Deletoing a row

# covid_data_df.drop(covid_data_df.index[2])   # For deleting one row

covid_data_df.drop(covid_data_df.index[2:4], inplace = True)   # For deleting multiple row

In [56]:
covid_data_df

   state_name cap_name  Confirmed_cases  Death_cases
 0         UP      LKO            10000         2000
 1         MP      BHP            11000         2100
 4         KA      BLR             8907          800
 5         TN      CHN             9000          700
 6         DL      NDL            16000         4000
-1         MH      MUM            20000         5000

In [39]:
# Adding the row at end using negative index
covid_data_df.loc[-1] = ['MH', 'MUM', 20000, 5000]

In [43]:
covid_data_df.reset_index().drop(columns ='index')

  state_name cap_name  Confirmed_cases  Death_cases
0         UP      LKO            10000         2000
1         MP      BHP            11000         2100
2         AP      AMT             9999          900
3         RJ       JP            12000         2500
4         KA      BLR             8907          800
5         TN      CHN             9000          700
6         DL      NDL            16000         4000
7         MH      MUM            20000         5000

# Indexing and Slicing on dataframe

In [45]:
bike_data = pd.read_csv('datasets/citibike_tripdata.csv')
bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,232,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,190,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber

In [46]:
# Accssing a single columns

bike_data['start station name']

0                 Harborside
1                   Grand St
2            McGinley Square
3                  City Hall
4                Oakland Ave
                ...
32423            Paulus Hook
32424           Newport PATH
32425      5 Corners Library
32426    Leonard Gordon Park
32427      5 Corners Library
Name: start station name, Length: 32428, dtype: object

In [47]:
# Accssing a multiple columns

bike_data[['start station name','name_localizedValue']]

        start station name                      name_localizedValue
0               Harborside                        Annual Membership
1                 Grand St                                  24 Hour
2          McGinley Square  FREE Bonus Month with Annual Membership
3                City Hall                                  24 Hour
4              Oakland Ave                        Annual Membership
...                    ...                                      ...
32423          Paulus Hook          Join Citi Bike for $14.95/month
32424         Newport PATH                $25 Off Annual Membership
32425    5 Corners Library                        Annual Membership
32426  Leonard Gordon Park                        Annual Membership
32427    5 Corners Library                        Annual Membership

[32428 rows x 2 columns]

In [49]:
# Accessing a value inside the cell
bike_data.at[32423, 'name_localizedValue']

'Join Citi Bike for $14.95/month'

In [51]:
# Changing the value inside the cell
bike_data.at[32423, 'name_localizedValue'] = '24 Hour'

In [52]:
bike_data.tail()

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
32423,396,2018-05-30 13:49:18,2018-05-30 13:55:55,3184,Paulus Hook,3279,Dixon Mills,29639,24 Hour,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

In [60]:
# Slicing the dataframe

new_bike_data = bike_data[1:11]

In [61]:
new_bike_data

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,232,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,190,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber
6,577,2018-05-01 05:05:46,2018-05-01 05:15:23,3225,Baldwin at Montgomery,3186,Grove St PATH,33619,Annual Membership from Citi Bike App,Subscriber
7,830,2018-05-01 05:11:50,2018-05-01 05:25:41,3207,Oakland Ave,3185,City Hall,33624,Annual Membership,Subscriber
8,395,2018-05-01 05:12:07,2018-05-01 05:18:42,3225,Baldwin at Montgomery,3186,Grove St PATH,26300,Annual Membership,Subscriber
9,170,2018-05-01 05:13:52,2018-05-01 05:16:43,3206,Hilltop,3195,Sip Ave,33555,$25 Off Annual Membership,Subscriber
10,353,2018-05-01 05:18:36,2018-05-01 05:24:29,3225,Baldwin at Montgomery,3195,Sip Ave,33627,Annual Membership,Subscriber

In [63]:
# Assiging some user defined index
new_bike_data.index = ['bike_data_'+str(i) for i in range(1, 11)]
new_bike_data

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
bike_data_1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
bike_data_2,232,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
bike_data_3,190,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
bike_data_4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
bike_data_5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber
bike_data_6,577,2018-05-01 05:05:46,2018-05-01 05:15:23,3225,Baldwin at Montgomery,3186,Grove St PATH,33619,Annual Membership from Citi Bike App,Subscriber
bike_data_7,830,2018-05-01 05:11:50,2018-05-01 05:25:41,3207,Oakland Ave,3185,City Hall,33624,Annual Membership,Subscriber
bike_data_8,395,2018-05-01 05:12:07,2018-05-01 05:18:42,3225,Baldwin at Montgomery,3186,Grove St PATH,26300,Annual Membership,Subscriber
bike_data_9,170,2018-05-01 05:13:52,2018-05-01 05:16:43,3206,Hilltop,3195,Sip Ave,33555,$25 Off Annual Membership,Subscriber
bike_data_10,353,2018-05-01 05:18:36,2018-05-01 05:24:29,3225,Baldwin at Montgomery,3195,Sip Ave,33627,Annual Membership,Subscriber

In [64]:
# Accessing one row

new_bike_data.loc['bike_data_7']        # Indexing using User-defined index

tripduration                           830
starttime              2018-05-01 05:11:50
stoptime               2018-05-01 05:25:41
start station id                      3207
start station name             Oakland Ave
end station id                        3185
end station name                 City Hall
bikeid                               33624
name_localizedValue      Annual Membership
usertype                        Subscriber
Name: bike_data_7, dtype: object

In [66]:
new_bike_data.iloc[6]     # Indexing using built-in index

tripduration                           830
starttime              2018-05-01 05:11:50
stoptime               2018-05-01 05:25:41
start station id                      3207
start station name             Oakland Ave
end station id                        3185
end station name                 City Hall
bikeid                               33624
name_localizedValue      Annual Membership
usertype                        Subscriber
Name: bike_data_7, dtype: object

In [67]:
# Accessing value inside a cell

new_bike_data.loc['bike_data_7', 'start station name']

'Oakland Ave'